@charset 'utf-8';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --main-color: #bc955c;
    --point-color: #ffa727;
    --main-darck: #1d1d1b;
    --text-color: #bbbbbb;
    --darck-100: #000;
    --darck-60: #666666;
    --darck-30: #bbbbbb;
}

::selection {
    background: var(--point-color);
    color: #fff;
}

html {
    font-size: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font: 2rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize;
    word-break: keep-all;
    overflow-x: hidden;
    min-width: 36rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--point-color);
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    position: absolute;
    margin: -1px;
    width: -1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* s.header */
header {
    background: #fff;
    position: fixed; /* posf : 헤더가 고정 되서 내려오게 만드는것 */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s;
}

header nav {
    display: flex;
    height: 13rem;
    /* background: #5f5f; */
    justify-content: space-between;
    align-items: center;
}

header::after {
    content: "";
    position: absolute;
    top: -50rem;
    left: 0;
    width: 100%;
    height: 47rem;
    background: #ffffff;
    border: 1px solid var(--darck-30);
    z-index: -1;
    transition: 0.3s;
}

header.active::after {
    top: 0;
}

header.hide {
    top: -150px;
}

.logo a {
    display: block;
    width: 11.8rem;
    height: 4.6rem;
    background: url(../img/main_logo\ 1.png) no-repeat 50% / contain;
}

.gnb {
    display: flex;
}

.gnb li a {
    /* border: 1px solid #000; */
    display: block;
    color: var(--darck-100);
    font-weight: 700;
    font-size: 2rem;
    padding: 1.3rem 5rem;
}

.gnb li:hover a {
    color: var(--point-color);
}

.util-menu {
    display: flex;
    gap: 1rem;
}

.btn {
    display: none;
}

.join {
    padding: 1.5rem 2rem;

    font-weight: 600;
    font-size: 1.8rem;
    font-size: clamp(1.4rem, 1.2676vw, 1.8rem);

    color: #fff;
    background: var(--darck-100);
    border-radius: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    padding: 1.5rem 2rem;

    font-weight: 600;
    font-size: 1.8rem;
    font-size: clamp(1.4rem, 1.2676vw, 1.8rem);

    color: #fff;
    background: var(--darck-100);
    border-radius: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* gnb */
.gnb > li {
    position: relative;
}

.submenu {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;

    z-index: 2;

    /* jQuery로 동작을 만들기 위한 준비 */
    display: none;
    padding-top: 2.5rem;
}

.submenu li a {
    display: block;
    padding: 1.7rem;
    text-align: center;
    font-size: 1.7rem;
}

.submenu li i {
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--darck-30);
}

.submenu li i:hover {
    font-weight: 900;
    color: var(--main-darck);
}

.gnb > li.on {
    background: #000;
    border-radius: 3rem;
}
/* gnb */

/* e.header */

/* 고객센터 */
.service {
    position: relative;
    padding: 8.4rem 0;
    padding: 4.375% 0;
    background: url(../img/service-con.jpg) no-repeat 50% / cover;
}

.sev-con {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.service-btn {
    width: 15.1rem;

    height: 15.1rem;
    border-radius: 100%;

    background: var(--main-color);
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
    font-size: clamp(1.5rem, 1.6901vw, 2.4rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

.sev-con dl {
    color: #fff;
    gap: 0.9rem;
}

.sev-con dl dt {
    font-weight: 400;
    font-size: 2.4rem;
    font-size: clamp(1.3rem, 1.6901vw, 2.4rem);
}

.sev-con dl dd {
    font-weight: 700;
    font-size: 4.9rem;
    font-size: clamp(2.1rem, 3.4507vw, 4.9rem);
}
/* 고객센터 */

/* s. footer */
#footer {
    background: var(--main-darck);
    padding: 9.1rem 0 15.4rem;
    padding: 4.7396% 0 8.0208%;
}

.foot-nav {
    display: flex;
    margin-left: -2rem;
    /* background: #5f5; */
    overflow-x: auto;
}

.foot-nav li {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    font-size: clamp(1.2rem, 1.4084vw, 2rem);
    flex-shrink: 0;
}

.foot-nav li a {
    display: block;
    padding: 1rem 2rem;
}

.footer-con {
    display: flex;
    padding: 6.7rem 0 0;
    padding: 4.7183% 0 0;

    justify-content: space-between;
}

address {
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    font-size: clamp(1.3rem, 1.2676vw, 1.8rem);
}

.in {
    display: flex;
    gap: 4.9rem;

    padding: 3.7rem 0;
}

.foot-icon {
    margin-top: 4.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.foot-logo {
    display: block;
    width: 15rem;
    width: 73.3529%;

    height: 6.3rem;
    background: url(../img/logo-icon-w.svg) no-repeat 50% / contain;
}

.link-icon {
    display: flex;
    justify-content: space-between;
    background: no-repeat 50%;
    gap: 1.9rem;
}

.link-icon li:nth-child(1) a {
    display: block;
    width: 4.6rem;
    height: 3.2rem;
    background: url(../img/youtube.svg) no-repeat 50% / contain;
}
.link-icon li:nth-child(2) a {
    display: block;
    width: 3.3rem;
    height: 3.4rem;
    background: url(../img/insta.svg) no-repeat 50% / contain;
}
.link-icon li:nth-child(3) a {
    display: block;
    width: 3.2rem;
    height: 3.4rem;
    background: url(../img/feac.svg) no-repeat 50% / contain;
}
.link-icon li:nth-child(4) a {
    display: block;
    width: 3.6rem;
    height: 3.2rem;
    background: url(../img/blog.svg) no-repeat 50% / contain;
}
/* e. footer */

.mobile-menu.active {
    left: 0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: var(--darck-60);
    color: #fff;
    transition: 0.4s;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8rem;
}

.btn-close {
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    width: 4.8rem;
    height: 4.8rem;
    background: url(../img/ico-close.svg) no-repeat 50%;
}

.mobile-logo {
    display: block;
    width: 17rem;
    height: 7rem;
    background: url(../img/logo-icon-w.svg) no-repeat 50% / contain;
}

.mobile-gnb {
    margin-top: 5rem;
}

.mobile-gnb li a {
    font-weight: 600;
    font-size: 2.2rem;
    display: block;
    padding: 1.6rem 0;
    text-align: center;
}
